
h1 {
	color: #ff8040; 
	border-style:dotted;
	float:auto;
	padding:15px;
	align: center;
    width: 250px;
    margin: auto;
}

table {
	border-style: dotted;
	color: red; 
	align: center;
	margin: auto;
}

.button {
	margin: 5px 550px;
	float: center;
	width: 250px;
}


